@import "tailwindcss";

@plugin "daisyui" {
    themes: dark --default;
}

.banner-style {
  position: relative; 
  overflow: hidden;  
}

.banner-style::before {
  content: '';
  position: absolute;
  inset: 0; 
  background-image: url(/asset/men.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transform: scaleX(-1); 
  z-index: -1; 
}

:root {
    @apply bg-gradient-to-br from-[#e5e5e5] via-[#d3e1ff] to-[#b0eaff];
}

.HF {
    @apply bg-gradient-to-br from-[#b3b8ee] via-[#a6bcfc] to-[#a6adff] text-gray-700;
}